.rocket-image {
    height: 6vmin;
    left: 100vw;
}

.fly-rocket {
    animation: flyin 3s linear;
}

@keyframes flyin {
    0% {
        transform: translateX(-110vw);
    }

    100% {
        transform: translateX(0);
    }
}

.alphabet {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    font-family: "Lilita One", sans-serif;
}

.showAlphabet {
    opacity: 1;
    filter: blur(0);
}

.intro-n-btn {
    opacity: 0;
    scale: 0;
    transition: all 1.5s 3s;
    filter: blur(5px);
}

.show-intro-n-btn {
    opacity: 1;
    scale: 1;
    filter: blur(0);
}